/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.boxed-btn, input[type="submit"] {
    padding: 12px 12px;
    font-size: 13px;
}  
.single-service-box {
    padding: 20px;
}
.hero-area h1 {
    font-size: 40px;
    padding-top: 120px;
    line-height: 45px;
}
.service-box-2 {
    height: 220px;
}
.slide-item-wrapper h2 {
    font-size: 50px;
    line-height: 55px;
}
.pdt50 {
    padding-top: 30px;
}
.theme-3 .single-case-study {
    height: 250px;
}
.theme-3.blog-area .single-blog-item a.blog-bg-wrapper {
    margin: -20px -20px 30px;
}
.service-section-2::after {
    top: -40px;
    width: 45%;
}
.footer-widget-area h4 {
    font-size: 18px;
}
.breadcumb-area h2 {
    font-size: 27px;
}
} /*end*/

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
} /*end*/

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    
} /*end*/

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

} /*end*/