.hero-area {
    background-color: #3393f5;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/hero-2-bg.png);
}

.hero-area h1 {
color: #fff;
font-size: 50px;
padding-top: 140px;
line-height: 55px;
}
.boxed-btn, input[type="submit"] {
    background-color: #06d6a0;
}


