/* Css reset code */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700,800');
html,body {
    margin: 0;
    padding: 0;
}
input:focus {
    outline: none;
}
body {
    color: #999999;
    font-size: 15px;
    font-family: 'Khula', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #373737;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

a , a:hover , a:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

/* Css reset code end */

.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: inline-block;
    position: relative;
}
.mainmenu ul li a {
    color: #888888;
    display: block;
    padding: 11px 15px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.mainmenu ul li a:hover {
  color: #ef476f;
}
.header-area {
    padding: 16px 0;
}
.hero-area {
padding: 150px 0;
border-bottom: 1px solid #f6f6f6;
}
.hero-area h1 {
font-size: 40px;
line-height: 45px;
margin-bottom: 30px;
max-width: 498px;
padding-top: 30px;
}
.boxed-btn, input[type="submit"] {
  background-color: #ef476f;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.boxed-btn:hover, input[type="submit"]:hover {
    background-color: #373737;
    color: #fff;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="url"],input[type="password"],text-area {
border: 1px solid #efefef;
border-radius: 2px;
padding: 11px 15px;
}

input[type="submit"] {
    border: medium none;
    margin-left: 18px;
}
input[type="url"] {
  background: transparent none repeat scroll 0 0;
}
.website-check-form {
  margin-top: 30px;
}

.section-padding {
    padding: 115px 0;
}
.section-title {
    margin-bottom: 90px;
}
.section-title h2 {
    font-size: 28px;
}
.single-service-box {
    border: 1px solid #f3f3f3;
    padding: 25px;
    margin-bottom: 50px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single-service-box h3 {
    font-size: 20px;
    margin: 30px 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single-service-box > p {
    font-weight: 300;
    line-height: 25px;
}
.service-icon i.zmdi {
    color: #231f20;
    font-size: 24px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.service-readmore-btn {
    color: #373737;
    display: inline-block;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.service-readmore-btn i {
    display: inline-block;
    padding-left: 5px;
}
.pdt50 {
    padding-top: 50px;
}
.pdt50 h2 {
    font-size: 28px;
    line-height: 35px;
}
.single-service-box:hover {
    border-color: #ef476f;
}
.single-service-box:hover .service-icon i.zmdi, .single-service-box:hover h3 , .single-service-box:hover a.service-readmore-btn {
   color: #ef476f;
}
.pdt50 a.boxed-btn {
  margin-top: 20px;
}


.section-padding.gray-bg {
    background-color: #fbfbfb;
}
.single-case-study {
display: table;
height: 320px;
position: relative;
width: 100%;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
background-position: center;
}
.single-case-study.bg1 {background-image: url(assets/img/case-study-bg1.png);}
.single-case-study.bg2 {background-image: url(assets/img/case-study-bg2.png);}
.single-case-study.bg3 {background-image: url(assets/img/case-study-bg3.png);}
.single-case-study .case-study-wrapper {
background: #ef475f none repeat scroll 0 0;
color: #fff;
display: table-cell;
height: 100%;
opacity: 0;
padding: 16px;
text-align: center;
transition: all 0.5s ease 0s;
vertical-align: middle;
visibility: hidden;
width: 100%;
}
.single-case-study:hover .case-study-wrapper {
    opacity: 1;
    visibility: visible;
}
.single-case-study .case-study-wrapper h3,.single-case-study .case-study-wrapper h4,.single-case-study .case-study-wrapper p
{
    color: #fff;
}

.case-study-wrapper h3 {
    font-size: 24px;
}
.case-study-wrapper h4 {
    font-size: 17px;
    margin-bottom: 35px;
}
.case-study-wrapper p {
    font-weight: 300;
}

.case-study-icon {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    height: 40px;
    line-height: 45px;
    margin-top: 20px;
    width: 40px;
}
#case-studies-carousel .owl-stage-outer {
    overflow: inherit;
}
.section-padding.overflow-x-hidden {
    overflow-x: hidden;
}

.testimonial-content p {
    color: #373737;
    font-size: 24px;
}
.testimonial-meta p {
    font-size: 14px;
    font-weight: 300;
}
.single-testimonial-item {
    text-align: center;
}
.single-testimonial-item .testimonial-meta img {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    margin-bottom: 28px;
    width: 60px;
}

.owl-dots div {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    height: 3px;
    margin: 2px;
    width: 20px;
}
.owl-dots div.active {
    background-color: #ef476f;
}
.owl-dots {
    margin-top: 20px;
    text-align: center;
}

.cta-area {
    background-color: #f8f8f8;
    padding: 75px 0;
}
.cta-area h2 {
    font-size: 28px;
    margin: 0;
    padding-top: 12px;
}
